/* Imported Font Types */

  /* latin */
  @font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/* Reset Margins */
* {
    margin: 0 auto;
    padding: 0;
}


/* Elements - Alphabetized */
a {
    text-decoration: none;
}
a:visited {
    color: inherit;
}
footer {
    background: hsl(250, 70%, 70%);
    height: 100px;
    width: 100%;
}
h1, h2, h3, h4, p {
    font-family: Raleway;
    padding: 5px;
}
main {
    width: 100%;
}
nav {
    height: 50px;
    width: 100%;
}


/* Classes - alphabetized */
.aboutPic {
    border: 1px solid black;
    border-radius: 80px;
    box-shadow: 3px 3px 20px;
    display: inline-block;
    height: 400px;
    margin: 50px;
    width: 400px;
}
.aboutText {
    color: hsl(270, 10%, 10%);
    font-size: 25px;
    margin: 15px;
    overflow: hidden;
}
.COD {
    background-image: url("../images/COD1.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-height: 500px;
    text-align: center
}
.clock {
    padding: 100px 50px;
}
.creative {
    border: 1px solid black;
    border-radius: 80px;
    box-shadow: 3px 3px 20px;
    display: inline-block;
    height: 300px;
    margin: 50px;
    width: 300px;
}
.dark {
    background: hsl(270, 50%, 50%);
}
.footer {
    color: white;
    text-align: center;
    padding: 15px;
}
.footer a {
    color: white;
}
.footer li {
    color: white;
    display: inline-block;
    padding-right: 10px;
}
.form {
    padding: 10px;
    font-size: 20px;
}
.jenQuote {
    color: white;
    float: right;
    padding-right: 100px;
    padding-top: 200px;
    font-size: 40px;
    text-shadow: 2px 2px 1px rgb(172, 38, 38);
}
.left {
    float: left;
    margin-left: 50px;
}
.light {
    background: hsl(250, 70%, 70%);
}
.long {
    width: 100%;
    height: 100%;
    min-height: 500px;
    text-align: center;
}
.longer {
    width: 100%;
    height: 100%;
    text-align: center;
}
.nav {
    height: 50px;
    text-align: center;
}
.nav a {
    background-color: hsl(270, 50%, 50%);
    border-radius: 100px;
    color: white;
    padding: 5px 10px;
}
.nav li {
    color: white;
    display: inline-block;
    font-family: Lato;
    font-size: 25px;
    margin: 0 auto;
    padding: 10px;
}
.right {
    float: right;
    margin-right: 50px;
}
.saying {
    font-size: 2em;
    text-shadow: 1px 1px 1px rgb(144, 139, 139);
}
.score {
    height: 400px;
    padding: 30px;
    width: 400px;
}
.scoreBoard {
    padding: 30px;
    font-size: 50px;
    color: white;
    text-shadow: 1px 1px 1px rgb(160, 0, 253);
}
.section {
    display: inline-block;
    width: 100%;
    height: 300px;
    text-align: center;
}
.testimony {
    border: 1px solid black;
    box-shadow: 3px 3px 20px;
    border-radius: 100%;
    height: 200px;
    margin-top: 50px;
    width: 200px;
}
.quotes {
    padding-top: 125px;
    padding-left: 20px;
    padding-right: 20px;
    
}


/* IDs - Alphabetized */
#first {
    height: 200px;
}
#firstP {
    width: 300px;
}
#firstH2 {
    font-size: 2em;
    color: hsl(270, 50%, 50%);
}
#jfer {
    color: white;
    font-size: 3em;
    font-style: bold;
    padding: 20px;
    text-shadow: 2px 3px 3px hsl(270, 90%, 19%);
}
#logo {
    align: middle;
    height: 350px;
    margin: 20px auto;
    width: 350px;
}
#logoCont {
    margin: 0 auto;
    width: 350px;
}
#thanks {
    color: white;
    font-size: 80px;
    text-shadow: 3px 3px 3px rgb(180, 17, 172);
    padding: 50px;
}
#thanksCom {
    
    font-size: 30px;
    padding-bottom: 50px;
}
